<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.ysq.webchat.dao.ChatMsgMapper">
  <resultMap id="BaseResultMap" type="net.ysq.webchat.po.ChatMsg">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="send_user_id" jdbcType="VARCHAR" property="sendUserId" />
    <result column="accept_user_id" jdbcType="VARCHAR" property="acceptUserId" />
    <result column="msg" jdbcType="VARCHAR" property="msg" />
    <result column="sign_flag" jdbcType="INTEGER" property="signFlag" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>

  <!-- 查询所有未签收的消息 -->
  <select id="getUnsignedMsg" parameterType="String"
          resultType="net.ysq.webchat.netty.entity.SingleChatMsgResponse">
    select
        id msgId,
        send_user_id senderId,
        msg content,
        create_time time
    from chat_msg
    where accept_user_id=#{receiverId} and sign_flag=0
    order by create_time
  </select>

  <!-- 批量签收 -->
  <update id="batchUpdateMsgSigned" parameterType="map">
    update chat_msg set sign_flag=1
    where
          accept_user_id=#{receiverId} and
          id in
    <foreach collection="msgIdList" item="msgId" open="(" separator="," close=")">
      #{msgId}
    </foreach>
  </update>

</mapper>
