<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.ysq.webchat.dao.FriendRequestMapper">
  <resultMap id="BaseResultMap" type="net.ysq.webchat.po.FriendRequest">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="send_user_id" jdbcType="VARCHAR" property="sendUserId" />
    <result column="accept_user_id" jdbcType="VARCHAR" property="acceptUserId" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="request_date_time" jdbcType="TIMESTAMP" property="requestDateTime" />
  </resultMap>

<!-- 在yml中配置了扫描的包路径是po包下，而FriendRequestCard在vo包下，所以需要写全路径  -->
  <select id="getFriendRequestList" parameterType="String" resultType="net.ysq.webchat.vo.FriendRequestCard">
        select
            r.id,
            r.content,
            r.status,
            r.request_date_time requestTime,
            u.username senderUsername,
            u.face_image senderFaceImg
        from friend_request r
        left join user u on r.send_user_id=u.id
        where r.accept_user_id=#{receiverId}
        order by request_date_time desc
  </select>

</mapper>
