<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.ysq.webchat.dao.MyFriendMapper">
  <resultMap id="BaseResultMap" type="net.ysq.webchat.po.MyFriend">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="my_user_id" jdbcType="VARCHAR" property="myUserId" />
    <result column="my_friend_user_id" jdbcType="VARCHAR" property="myFriendUserId" />
    <result column="remarks_name" jdbcType="VARCHAR" property="remarksName" />
    <result column="added_date_time" jdbcType="TIMESTAMP" property="addedDateTime" />
  </resultMap>

  <select id="getFriendList" parameterType="String" resultType="net.ysq.webchat.vo.FriendCard">
    select
        u.id userId,
        u.username username,
        u.face_image faceImg,
        f.remarks_name remarksName
    from my_friend f
    left join user u on f.my_friend_user_id=u.id
    where f.my_user_id=#{myId}
  </select>

</mapper>
